<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
         <tr>
             <th th:text="'NAME'"></th>
             <th th:text="'MODEL'"></th>
             <th th:text="'YEAR'"></th>
         </tr>
         <tr th:each="msg : ${list}">
             <td th:text="${msg.getName()}">значение1</td>
             <td th:text="${msg.getModel()}">значение2</td>
             <td th:text="${msg.getYear()}">значение3</td>
         </tr>
     </table>
 </body>
 </html>